:root {
  /*Typography stuff*/
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  /*Miscellaneous*/
  --fontTitulo: 2.5rem;
  --fontGrande: 1.2rem;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto+Condensed:wght@300;400&display=swap');
html {
  /*Box model stuff*/
  height: 100vh;
  /*Miscellaneous*/
  box-sizing: border-box;
}

body {
  /*Positioning stuff*/
  position: relative;
  /*Box model stuff*/
  min-height: 100%;
  margin: 0;
  padding-bottom: 6.74rem;
  /*Miscellaneous*/
  /* overflow-x: hidden; */
  box-sizing: inherit;
}

input[type="search"] {
  /*Box model stuff*/
  padding: 3px 5px;
  border: 2px solid black;
  border-radius: 15px;
  /*Typography stuff*/
  font-size: 0.9em;
}

input[type="search"]:focus {
  /*Box model stuff*/
  border: 2px solid black;
}

nav {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /*Positioning stuff*/
  position: sticky;
  top: 0;
  z-index: 2;
  /*Box model stuff*/
  width: 100%;
  height: 35px;
  background: white;
  /*Miscellaneous*/
  box-shadow: black 5px 0 8px;
}

.navBarImg {
  /*Box model stuff*/
  width: 100%;
  max-width: 25px;
}

#titleInventaro {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  width: 90%;
  min-width: fit-content;
  height: 120px;
  margin-left: 50%;
  margin-top: 30px;
  border-radius: 5px;
  background: #010101;
  /*Typography stuff*/
  font-family: "Roboto Condensed", sans-serif;
  font-size: var(--fontTitulo);
  text-shadow: rgba(255, 255, 255, 0.692) 0 0px 3px;
  color: rgb(236, 236, 236);
  /*Manipulations stuff*/
  transform: translateX(-50%);
  /*Miscellaneous*/
  box-shadow: #010101 0 3px 5px;
}

#globo1 {
  /*Box model stuff*/
  height: 38px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  /*Manipulations stuff*/
  transform: translate(3px, -1px);
}

main {
  /*Box model stuff*/
  width: 100%;
  height: fit-content;
  margin-top: 80px;
  /*Miscellaneous*/
  /* border: solid; */
}

.profile {
  /*Display stuff*/
  display: flex;
  /*Box model stuff*/
  width: 70%;
  height: 90px;
  margin: 35px auto;
  border-radius: 20px;
  /*Miscellaneous*/
  box-shadow: rgb(168, 168, 168) 0 0 15px;
  overflow: hidden;
}

.profile:hover {
  cursor: pointer;
}

.profileLeftWrapper {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  width: 90px;
}

.profileRightWrapper {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  width: calc(100% - 90px);
  padding: 3px;
  background: rgba(179, 179, 179, 0.23);
  /*Typography stuff*/
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  word-break: break-word;
  /*Miscellaneous*/
  line-height: normal;
}

footer {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Positioning stuff*/
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  /*Manipulations stuff*/
  transform: translateY(-50%);
  /*Miscellaneous*/
  /* padding: 20px; */
  /* height: 50px; */
  /* border: solid; */
}

#waterMark {
  /*Box model stuff*/
  margin-bottom: 10px;
}

.pageTitle {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  width: 75%;
  min-width: fit-content;
  height: 100px;
  margin: 30px auto auto auto;
  border: solid 2px rgb(0, 0, 0);
  box-shadow: rgb(204, 204, 204) 0px 3px 0;
  border-radius: 10px;
  /*Typography stuff*/
  font-family: "Roboto Condensed", sans-serif;
  font-size: var(--fontTitulo);
}

#listCategorias {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /*Box model stuff*/
  width: 90%;
  margin: auto auto auto auto;
  padding: 10px 0;
  border: solid 2px black;
  border-radius: 10px;
  /*Miscellaneous*/
  /* height: 200px; */
  box-shadow: #010101 3px 4px 0;
  list-style: disc;
}

#listCategorias li {
  /*Box model stuff*/
  margin: 10px 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  padding: 5px 9px;
  border: none;
  border-radius: 5px;
  background: rgba(232, 232, 232, 0.651);
  /*Typography stuff*/
  font-size: var(--fontGrande);
}

#listCategorias li:hover {
  background: rgb(225, 225, 225);
  cursor: pointer;
}

.itensWrapper {
  /*Display stuff*/
  display: flex;
  /*Box model stuff*/
  width: 70%;
  height: 90px;
  margin: 35px auto;
  border-radius: 20px;
  /*Miscellaneous*/
  box-shadow: rgb(168, 168, 168) 0 0 15px;
  overflow: hidden;
}

.itensWrapperLeft {
  /*Display stuff*/
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /*Box model stuff*/
  width: 50%;
  height: 100%;
  /*Miscellaneous*/
  position: relative;
  /* border: #010101 solid; */
}

.itensWrapperRight {
  /*Box model stuff*/
  width: 50%;
  height: 100%;
  background: rgba(179, 179, 179, 0.23);
  /*Miscellaneous*/
  /* border: #010101 solid; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  /* position: relative; */
}

.itemName {
  /*Typography stuff*/
  font-size: var(--fontGrande);
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* margin: auto auto auto 10%; */
  /* border: solid; */
  max-width: 75%;
  word-break: break-word;; 
}

.itemDelete {
  /* position: absolute; */
  /* transform: translateX(-200%); */
  height: 20px;
  margin-right: 30%;
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translateY(-40%);
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Roboto Condensed', sans-serif;   */
  font-size: 17px;
  font-weight: 600;
  transition: 200ms;
}

.itemDelete:hover {
  cursor: pointer;
  color: rgb(255, 0, 0);
}

.itensButtons {
  border: 2px black solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: auto;
  background: white;
  transition: 50ms;
  padding: 3px;
}

.itensButtons:hover {
  cursor: pointer;
  background: rgb(211, 211, 211);
}

.itensButtons:active {
  background: rgb(211, 211, 211);
  transform: scale(0.9);
}

.itemNum {
  margin: auto;
  font-size: 2em;
  background: white;
  padding: 5px;
  border-radius: 5px;
}

.plusButton{
  height: 50px;
  margin: 20px auto auto 50%;
  transform: translateX(-50%);
  transition: 200ms;
}

.plusButton:hover{
  height: 60px;
 transform: translateX(-50%);
 margin-top: 15px;
}

#adicionarPerfil{
  transition: 500ms;
}

#loginWrapper{
  box-sizing: border-box;
  margin: auto;
  height: 300px;
  width: 300px;
  padding: 1px;
  display: block;
  border-radius: 10px;
  background: white;
  box-shadow: rgb(168, 168, 168) 0 0 15px;
}

#loginBtn, #registerBtn{
  transition: 200ms;
  height: 50px;
  width: 200px;
  display: block;
  margin: 30px auto;
  border-radius: 10px;
  border: solid 2px #505050;
  box-shadow: 0 0 5px gray;
}

#loginBtn{
  background: #010101;
  color: white;
  font-weight: bold;
}

#loginBtn:hover, #loginBtn:focus{ 
  cursor: pointer;
  border: solid 2px white;
  box-shadow: 0 0 10px gray;
}

#registerBtn{
  background: white;
  color: #010101;
  border: solid 2px #505050;
  font-weight: bold;
}

#registerBtn:hover, #registerBtn:focus{ 
  cursor: pointer;
  box-shadow: 0 0 10px gray;
  border: solid 2px #010101;
}

#loginWrapper h1{
  margin: 30px auto 10px auto;
  display: block;
  /* border: solid 2px #010101; */
  font-weight: bolder;
  font-size: var(--fontGrande);
  text-align: center;
}

#loginWrapper h2{
  margin: 10px auto 50px auto;
  display: block;
  /* border: solid 2px #010101; */
  font-weight: bold;
  text-align: center;
}

#modalLogin{
  background: white;
  border-radius: 10px;
  max-width: 350px;
  width: 80%;
  /* height: 350px; */
  border: none;
  box-shadow: rgb(168, 168, 168) 0 0 15px;
}

#closeModalLogin{
  position: absolute;
  right: 20px;
  top: 20px;
  height: 20px;
  width: 20px;
}

#modalLogin input[type= "text"], #modalLogin input[type= "password"]{
  margin: 0px auto;
  display: block;
  font-size: 1em;
  padding: 4px;
  border-radius: 5px;
  border: #010101 solid 2px;
  height: 30px;
  width: 90%;
}

#esqueciSenha{
  color: #010101;
  font-size: 0.8em;
  display: block;
  margin: 3px auto 0 10px;
}

#modalLogin input[type= "submit"]{
  margin: 20px auto;
  display: block;
  font-size: 1em;
  padding: 6px;
  border-radius: 5px;
  border: #010101 solid 1px;
  background: #010101;
  color: white;
  font-weight: bold;
}

#modalLogin label{
  display: block;
  /* position: inherit; */
  /* margin: 10px auto; */
  font-size: 1em;
  font-weight: bold;
  width: fit-content;
  background: white;
  /* border: solid; */
  margin: 40px auto 0px 20px;
}
